.product {
	&-item {
		padding: 2em;
		border: 1px solid rgba(0, 0, 0, 0.2);
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: space-between;
	    min-height: 45vh;
	}
	&-img {
		max-width: 60%;
		height: auto;
	}
	&-title {
		font-size: 1.25em;
		margin: 1em 0;
	}
	&-big {
		// min-height: 75vh;
		color: #000;
		.product-img {
			max-width: 100%;
		}
	}
}

.product {
	&__main {
		padding: 0;
		> .row {
			margin-left: 0;
			margin-right: 0;
		}
	}
	&__title {
		font-size: 1.5em;
		font-weight: bold;
		&--article {
			font-size: 1.5em;
			margin-bottom: 1em;
		}
	}
	&__section {
		padding: 2em 0;
	}
	&__present {
	}
	&__advantages {
		// margin: 2em auto;
		&--img {
			margin: 1em 0;
		}
	}
	&__used {
		.col-12 {
			&:nth-child(2) {
				padding-left: 0;
			}
			&:nth-child(3) {
			    display: flex;
			    align-items: center;
			    padding: 0 4em 0 3em;
			    @media screen and (max-width: 1024px) {
			    	padding: 1.25em .25em;
			    }
			}
		}
	}
	&__sizes {

	}
	&__table {
		margin: 2em auto;
		tr {
			&:first-child {
				td {
					border-top: none;
				}
			}
			&:last-child {
				td {
					border-bottom: none;
				}
			}
			
		}
		td {
			padding: .35em 1.5em;
			border: 1px solid #000;
			&:first-child {
				border-left: none;
			}
			&:last-child {
				border-right: none;
			}
		}
	}
	&__colors {
		list-style: none;
		display: flex;
	    flex-wrap: wrap;
	    align-items: center;
	    // justify-content: center;

        width: 45%;
	    margin: 0 auto;
	    padding-left: 0;
		li {
			display: inline-flex;
		    align-items: center;
		    margin: .75em;
			span {
				margin: .25em;
			}
		}
		&--color {
			width: 1.5em;
			height: 1.5em;
			&.multi {
				display: flex;
				flex-wrap: wrap;
				> * {
					width: .75em;
					height: .75em;
					// display: inline-block;
				}
			}
		}
	}
}

.red {
	background-color: #ed1c24;
}
.blue {
	background-color: #0060af;
}
.yellow {
	background-color: #fff200;
}
.orange {
	background-color: #f58220;
}
.brown {
	background-color: #7b2701;
}
.black {
	background-color: #210000;
}
.green {
	background-color: #00a651;
}
